<!-- base.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LibrotekaApp{% endblock %}</title>

    {% load static %}

    <!-- Enlaces a tus archivos CSS -->
    <link rel="stylesheet" href="{% static 'estilo.css' %}">
    <script src="{% static 'script.js' %}"></script>
    <!-- Otros enlaces a CSS si los tienes -->

    <!-- Enlaces a las bibliotecas externas, como Bootstrap, si las estás utilizando -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

    <!-- Otros enlaces a JS si los tienes -->
    <script src="{% static 'path/a/tu/script.js' %}"></script>
</head>

<body>

    <!-- Barra de navegación u otros elementos comunes -->

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <!-- Pie de página u otros elementos comunes -->

</body>
</html>


