<nav
  class="navbar navbar-expand-lg navbar-light py-1 sticky-top"
  style="background-color: #d9d1bd"
>
  <div class="container">
    <a
      class="navbar-brand d-flex justify-content-between align-items-center order-lg-0"
      routerLink="/home"
    >
      <img
        src="../../../../assets/images/Book_25711.png"
        alt="icono del sitio a modificar"
      />
      <span class="text-uppercase fw-lighter ms-2">Libroteka</span>
    </a>

    <button
      class="navbar-toggler border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navMenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse order-lg-1" id="navMenu">
      <ul class="navbar-nav mx-auto text-center">
        <li class="nav-item px-2 py-2">
          <a class="nav-link text-uppercase text-dark" routerLink="/home"
            >inicio</a
          >
        </li>
        <li class="nav-item px-2 py-2">
          <a class="nav-link text-uppercase text-dark" routerLink="/catalogo"
            >catalogo</a
          >
        </li>

        <li class="nav-item px-2 py-2">
          <a
            class="nav-link text-uppercase text-dark"
            routerLink="/mas-vendidos"
            >Mas Vendidos</a
          >
        </li>
        <li class="nav-item px-2 py-2">
          <a class="nav-link text-uppercase text-dark" routerLink="/dashboard"
            >Dashboard</a
          >
        </li>
        <li class="nav-item px-2 py-2">
          <a
            class="nav-link text-uppercase text-dark"
            routerLink="/sobre-nosotros"
            >Sobre Nosotros</a
          >
        </li>

        <li class="nav-item px-2 py-2">
          <a class="nav-link text-uppercase text-dark" routerLink="/contacto"
            >contacto</a
          >
        </li>
        <li class="nav-item px-2 py-2">
          <a class="nav-link text-uppercase text-dark" routerLink="/login"
            >INGRESAR</a
          >
        </li>
      </ul>
    </div>
    <div class="order-lg-2 nav-btns">
      <button type="button" class="btn position-relative" (click)="toggleCart()">
        <i class="fa fa-shopping-cart"></i>
        <span class="position-absolute top-0 start-100 translate-middle badge bg-primary">
          {{ cartItemCount }}
        </span>
      </button>
      <div *ngIf="isCartVisible" class="cart-dropdown">
        <div *ngFor="let item of cartItems" class="cart-item">
          <div class="cart-item-title">{{ item.title }}</div>
          <div class="cart-item-quantity">Cantidad: {{ item.quantity }}</div>
        </div>
        <div *ngIf="cartItems.length === 0" class="cart-empty">
          El carrito está vacío.
        </div>
        <button type="button" class="btn btn-danger m-2" (click)="clearCart()">Limpiar carrito</button>
        <button type="button" class="btn btn-success m-2" (click)="proceedToCheckout()">Iniciar compra</button>
      </div>
    </div>
    
    <button type="button" class="btn position-relative">
      <i class="fa fa-heart"></i>
      <span
        class="position-absolute top-0 start-100 translate-middle badge bg-primary"
      ></span>
    </button>
    <button
      routerLink="/busqueda-personalizada"
      type="button"
      class="btn position-relative"
    >
      <i class="fa fa-search"></i>
    </button>
  </div>
</nav>
