<div class="container-fluid position-fixed top-50" style="max-width: 100px">
  <div class="row">
    <div class="container-fluid">
      <a href="https://facebook.com/">
        <i class="fab fa-facebook fa-xl"></i>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="container-fluid">
      <a href="https://twitter.com/">
        <i class="fab fa-twitter fa-xl"></i>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="container-fluid">
      <a href="https://www.whatsapp.com/">
        <i class="fab fa-whatsapp fa-xl"></i>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="container-fluid">
      <a href="https://www.instagram.com/">
        <i class="fab fa-instagram fa-xl"></i>
      </a>
    </div>
  </div>
</div>
