  .form-control{
    background-color: #E8F0FE;
    padding: 6px 12px;
  }
  h5{
    color: #052C65;
    font-size: 20px;
    margin: 0px 0px 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }