

    <div class="container mt-5 py-5">
      <h1 class="mb-4">Ponte en contacto con nosotros</h1>
      <form action="../index.html">
        <!-- Nombre -->
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" required />
        </div>
        <!-- Correo -->
        <div class="mb-3">
          <label for="email" class="form-label">Correo</label>
          <input type="email" class="form-control" id="email" required />
        </div>
        <!-- Teléfono -->
        <div class="mb-3">
          <label for="telefono" class="form-label">Teléfono</label>
          <input
            type="number"
            class="form-control"
            id="telefono"
            required
            inputmode="numeric"
          />
        </div>
        <!-- Mensaje -->
        <div class="mb-3">
          <label for="mensaje" class="form-label">Mensaje</label>
          <textarea
            class="form-control"
            id="mensaje"
            rows="4"
            style="resize: both"
            required
          ></textarea>
        </div>
        <!-- Boton Enviar -->
        <button type="submit" class="btn btn-primary" onclick="showAlert()">
          Enviar
        </button>
      </form>
    </div>

    