<body>

    <header>
        <h1 class="l"></h1>
    </header>

    <div class="container"></div>

    <main>

        <div class="imag">
            <img src="assets/images/libro3.png" alt="">
        </div>

        <div class="infoproduct">

            <div class="price">
                <span>$10.000</span>
            </div>

            <div class="detailsproduct">

                <div class="formgroup">
                    <label for="colour">Cual Comprar?</label>
                    <select name="" id="">

                        <option selected value="option">Edicion Oro</option>
                        <option selected value="option">Edicion Normal</option>
                        <option selected value="option">Edicion prueba</option>
                        <option selected value="option">Escoje una opcion</option>

                    </select>
                </div>

            </div>

            <div class="addcart">
                <div class="quantity">
                    <input type="number" name="" id="" placeholder="1" value="1" min="1" class="inputquantity">

                </div>

                <button class="btntocart">
                    <i class="fa-solid fa-plus"></i>Añadir al carrito
                </button>
            </div>

            <div class="description">
                <div class="titledescription">
                    <h4>Información</h4>

                    <ul class="ul">
                        <!-- <li class="li">Titulo: {{ title }}</li>
                        <li class="li">Autor: {{id_Author}}</li>
                        <li class="li">Genero: {{id_Genre}}</li>
                        <li class="li">Descripcion: {{description}}</li>
                        <li class="li">Precio: {{price}}</li>
                        <li class="li">Stock: {{stock}}</li>
                        <li class="li">Editorial: {{id_Editorial}}</li> -->
                    </ul>

                </div>

                <div class="titlereview">
                    <h4>Reseñas</h4><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>

                </div>

                <div class="social">

                    <div class="container-buttons-social">
                        <a href="#"><i class="fa-brands fa-square-whatsapp"></i></a>
                        <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
                    </div>
                </div>

            </div>
        </div>

    </main>

</body>
<!-- <div class="popup-content">
  <h2>Detalles del Libro</h2>
  <div *ngIf="selectedBook">
    <p><strong>Título:</strong> {{ selectedBook.title }}</p>
    <p><strong>Autor:</strong> {{ selectedBook.id_Author?.name }}</p>
    <p><strong>Género:</strong> {{ selectedBook.id_Genre?.name }}</p>
    <p><strong>Editorial:</strong> {{ selectedBook.id_Editorial?.name }}</p>
    <p><strong>Descripción:</strong> {{ selectedBook.description }}</p>
    <p><strong>Precio:</strong> {{ selectedBook.price }}</p>
    <p><strong>Stock:</strong> {{ selectedBook.stock }}</p>
  </div>
</div> -->

<div class="popup-content">
    <h2>Detalles del Libro</h2>
    <div *ngIf="selectedBook">
        <p><strong>Título:</strong> {{ selectedBook.title }}</p>
        <p><strong>Autor:</strong> {{ selectedBook.id_Author?.name }}</p>
        <p><strong>Género:</strong> {{ selectedBook.id_Genre?.name }}</p>
        <p><strong>Editorial:</strong> {{ selectedBook.id_Editorial?.name }}</p>
        <p><strong>Descripción:</strong> {{ selectedBook.description }}</p>
        <p><strong>Precio:</strong> {{ selectedBook.price }}</p>
        <p><strong>Stock:</strong> {{ selectedBook.stock }}</p>

        <div class="formgroup">
            <label for="edition">Cual Comprar?</label>
            <select id="edition">

        <option selected value="gold">Edicion Oro</option>
        <option selected value="normal">Edicion Normal</option>
        <option selected value="test">Edicion prueba</option>
        <option selected value="choose">Escoje una opcion</option>

      </select>
        </div>

        <div class="addcart">
            <div class="quantity">
                <input type="number" placeholder="1" value="1" min="1" class="inputquantity">
            </div>
            <button class="btntocart">
          <i class="fa-solid fa-plus"></i>Añadir al carrito
        </button>
        </div>

        <div class="titlereview">
            <h4>Reseñas</h4>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
        </div>
    </div>
</div>