<!-- 1era fila -->
<div class="container-fluid d-flex flex-wrap justify-content-center">
    <div class="card m-2" style="width: 30%;">
        <div class="card-header">Resumen de Compras</div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">
                    Orden #1234 (Total: $45000)
                    <ul class="list-group" style="padding: 5%">
                        <li>El Señor de los Anillos - $25000</li>
                        <li>Cien Años de Soledad - $20000</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="card m-2" style="width: 30%;">
        <div class="card-header">Estado del Envío</div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item" style="padding: 5%">
                    Orden #1234 - Enviado
                    <br> Llegada estimada: 24 de Mayo, 2024
                    <br>
                    <a href=" " target="_blank">Track Package</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="card m-2" style="width: 30%;">
        <div class="card-header">Historial de Compras</div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">
                    Orden #1234 (Total: $45000)
                    <ul class="list-group" style="padding: 5%">
                        <li>El Señor de los Anillos - $25000</li>
                        <li>Cien Años de Soledad - $20000</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</div>

<!-- 2da fila -->

<div class="container-fluid d-flex flex-wrap justify-content-center">
    <div class="card m-2" style="width: 30%;">
        <div class="card-header">Cupones y Descuentos</div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">
                    Cupones
                    <ul class="list-group" style="padding: 5%">
                        <li>Bienvenida - 15% off</li>
                        <li>Newsletter- 5% off</li>
                    </ul>
                </li>
                <li class="list-group-item">
                    Descuentos
                    <ul class="list-group" style="padding: 5%">
                        <li>HotSale - Hasta 60% off</li>
                        <li>BlackFriday- Hasta 80% off</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="card m-2" style="width: 30%;">
        <div class="card-header">Recomendaciones</div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item" style="padding: 5%">
                    ¡Nuevo ingreso!
                    <br>
                    <a href=" " target="_blank">Libro 1</a>
                    <br>
                    <a href=" " target="_blank">Libro 2</a>
                </li>
                <li class="list-group-item" style="padding: 5%">
                    Novedades
                    <br>
                    <a href=" " target="_blank">Libro 1</a>
                    <br>
                    <a href=" " target="_blank">Libro 2</a>
            </ul>
        </div>
    </div>

    <div class="card m-2" style="width: 30%;">
        <div class="card-header">Soporte al cliente</div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <ul class="list-group" style="padding: 5%">
                        Podés contactarnos a través de nuestros canales de atención
                        <br> Correo <a href=" " target="_blank">ayuda&#64;libroteka.com</a>
                        <br> Whatsapp <a href=" " target="_blank">+54 123 456 789</a>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid d-flex flex-wrap justify-content-center">
    <div class="card m-2 ">
        <div class="card-header ">Reseñas y Comentarios</div>
        <div class="card-body">
        </div>
    </div>
</div>