<div class="wrap">
  <h1>Categoria por Generos</h1>
  <div class="store-wrapper">
    <div class="category_list">
      <a href="#" class="category_item" (click)="filterBooks('todo')">Todo</a>
      <a href="#" class="category_item" (click)="filterBooks('poesia')"
        >Poesia</a
      >
      <a href="#" class="category_item" (click)="filterBooks('ficcion')"
        >Ficcion</a
      >
      <a href="#" class="category_item" (click)="filterBooks('aventura')"
        >Aventura</a
      >
      <a href="#" class="category_item" (click)="filterBooks('terror')"
        >Terror</a
      >
      <a href="#" class="category_item" (click)="filterBooks('novela')"
        >Novela</a
      >
    </div>
    <section class="products-list">
      <div
        class="product-item"
        *ngFor="let book of filteredBooks"
        [attr.category]="book.category"
      >
        <img [src]="book.photo" alt="{{ book.title }}" />
        <a href="#">{{ book.title }}</a>
      </div>
    </section>
  </div>
</div>
