<div class="wrap">
    <h1>Categoria por Generos</h1>
    <div class="store-wrapper">
        <div class="category_list">
            <a href="#" class="category_item" category="todo">Todo</a>
            <a href="#" class="category_item" category="poesia">Poesia</a>
            <a href="#" class="category_item" category="ficcion">Ficcion</a>
            <a href="#" class="category_item" category="aventura">Aventura</a>
            <a href="#" class="category_item" category="Terror">Terror</a>
            <a href="#" class="category_item" category="Novela">Novela</a>
        </div>
        <section class="products-list">
            <div class="product-item" category="poesia">
                <img src="images/assets/book-cover.jpg" alt="">
                <a href="#">Poesia</a>
            </div>
            <div class="product-item" category="novela">
                <img src="images/assets/principito.webp" alt="">
                <a href="#">Novela</a>
            </div>
            <div class="product-item" category="ficcion">
                <img src="images/assets/libro.png" alt="">
                <a href="#">Ficcion</a>
            </div>
            <div class="product-item" category="Terror">
                <img src="images/assets/libro4.jpg" alt="">
                <a href="#">terror</a>
            </div>
            <div class="product-item" category="Terror">
                <img src="images/assets/libro3.png" alt="">
                <a href="#">Terror</a>
            </div>
            <div class="product-item" category="poesia">
                <img src="images/assets/tiempo.webp" alt="">
                <a href="#">Poesia</a>
            </div>
            <div class="product-item" category="aventura">
                <img src="images/assets/aventura.jpeg" alt="">
                <a href="#">Aventura</a>
            </div>
            <div class="product-item" category="novela">
                <img src="images/assets/novela.webp" alt="">
                <a href="#">Novela</a>
            </div>
        </section>
    </div>
</div>