<div class="row">
    <div class="col-md-2"></div>
    <div class="col-8 col-md-8 text-center-md-4">
      <h3 class="text-center py-4">SOBRE NOSOTROS</h3>
      <p>
        LIBROTEKA nació hace unos años por un grupo de amigos apasionados
        por la literatura con el objetivo de ofrecer a la comunidad un
        espacio donde encontrar libros de calidad y a precios accesibles.
        Desde entonces se ha convertido en un lugar de referencia para los
        amantes de la lectura.
      </p>
      <p>
        Ofrecemos una amplia selección de libros de diferentes géneros y
        autores, desde clásicos hasta las últimas novedades. Además,
        contamos con un equipo de expertos en literatura y lingüistica que
        están disponibles para colaborar con la búsqueda del libro perfecto
        para nuestros clientes. Nos esforzamos para ofrecer una experiencia
        única, con un ambiente acogedor y amigable que invita a sumergirse
        en el mundo de la lectura y la creatividad a través de nuestros
        libros.
      </p>
      <p>
        Nuestra misión es proporcionar un refugio para la imaginación, un
        lugar donde los libros cobran vida y donde cada página es un portal
        hacia nuevas aventuras y descubrimientos.
      </p>
      <p>
        Desde nuestros inicios, hemos transitado un proceso en el que nos
        hemos convertido en una librería de referencia en la comunidad. Nos
        enorgullece haber alcanzado uno de nuestros objetivos y esperamos
        seguir creciendo, además de seguir siendo un espacio donde los
        amantes de la literatura pueden encontrar todo lo que necesitan para
        fomentar su pasión.
      </p>
      <p>
        Ven y únete, a nuestro viaje literario para seguir celebrando la
        magia de las palabras y compartiendo historias que inspiran.
      </p>
      <p>"LIBROTEKA, un mundo de conocimiento a un click de distancia"</p>
    </div>
    <div class="col-md-2" style="background-color: #e7e0d8"></div>
  </div>

<div class="col-md-2"></div>

<div
  class="container mt-5"
  style="position: relative; top: 40px; background-color: #e7e0d8"
>
  <h3 class="text-center py-4">NUESTRO EQUIPO</h3>
  <div class="row">
    <div class="col-md-2 py-4"></div>
    <div class="col-md-2 py-4">
      <div class="card" style="width: 150px">
        <img
          src="../assets/Axel Cardozo.jpg"
          alt="Cardozo"
          class="card-img-top"
        />
        <div class="card-body">
          <p class="card-text">Axel Cardozo</p>
        </div>
      </div>
    </div>
    <div class="col-md-2 py-4">
      <div class="card" style="width: 150px">
        <img
          src="../assets/Luciana Pucheta.jpg"
          alt="Pucheta"
          class="card-img-top"
        />
        <div class="card-body">
          <p class="card-text">Luciana Pucheta</p>
        </div>
      </div>
    </div>
    <div class="col-md-2 py-4">
      <div class="card" style="width: 150px">
        <img
          src="../assets/Raúl Sasinka.jpg"
          alt="Sasinka"
          class="card-img-top"
        />
        <div class="card-body">
          <p class="card-text">Raúl Sasinka</p>
        </div>
      </div>
    </div>
    <div class="col-md-2 py-4">
      <div class="card" style="width: 150px">
        <img
          src="../assets/Daniel Segall.jpg"
          alt="Segall"
          class="card-img-top"
        />
        <div class="card-body">
          <p class="card-text">Daniel Segall</p>
        </div>
      </div>
    </div>
    <div class="col-md-2 py-4"></div>
    <div class="col-md-2 py-4"></div>
    <div class="col-md-2 py-4">
      <div class="card" style="width: 150px">
        <img
          src="../assets/Celeste Trujillo.jpg"
          alt="Trujillo"
          class="card-img-top"
        />
        <div class="card-body">
          <p class="card-text">Celeste Trujillo</p>
        </div>
      </div>
    </div>
    <div class="col-md-2 py-4">
      <div class="card" style="width: 150px">
        <img
          src="../assets/Jorgelina Sapp.jpg"
          alt="Sapp"
          class="card-img-top"
        />
        <div class="card-body">
          <p class="card-text">Jorgelina Sapp</p>
        </div>
      </div>
    </div>
    <div class="col-md-2 py-4">
      <div class="card" style="width: 150px">
        <img
          src="../assets/Juan Suarez.jpg"
          alt="Suarez"
          class="card-img-top"
        />
        <div class="card-body">
          <p class="card-text">Juan Suarez</p>
        </div>
      </div>
    </div>
    <div class="col-md-2 py-4">
      <div class="card" style="width: 150px">
        <img
          src="../assets/Mónica Zapata.jpg"
          alt="Zapata"
          class="card-img-top"
        />
        <div class="card-body">
          <p class="card-text">Mónica Zapata</p>
        </div>
      </div>
    </div>
    <div class="col-md-2 py-4"></div>

    <div class="col-md-4 py-4"></div>
    <div class="col-md-2 py-4">
      <div class="card" style="width: 150px">
        <img
          src="../assets/Leandro Santiago.jpg"
          alt="Santiago"
          class="card-img-top"
        />
        <div class="card-body">
          <p class="card-text">Leandro Santiago</p>
        </div>
      </div>
    </div>
    <div class="col-md-2 py-4">
      <div class="card" style="width: 150px">
        <img
          src="../assets/Ángel Villarreal Barroso.jpg"
          alt="Villarreal"
          class="card-img-top"
        />
        <div class="card-body">
          <p class="card-text">Ángel Villarreal</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 py-"></div>
  </div>
</div>